.our-projects{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
}

.our-projects__title{
    display: none;
}